<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Server=tcp:emulatordbserver.database.windows.net,1433;Initial Catalog=LPSPortal_db;Persist Security Info=False;User ID=winxxxcanton;Password=yyy;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
       providerName="System.Data.SqlClient" />
</connectionStrings>